
#VURegistro1{
 position:absolute;
 width:50%;
 height:60%;
 margin-left:25%;
 margin-top:5%;
 background:white;
border-radius:10px 10px 10px 10px;
}

#tabla6{
 position:relative;
 width:100%;
 height:100%;

}

#columnab1{
 text-align:center;
 width:30%;
}
#columnab2{
 text-align:center;
 width:70%;
}













