
#VUPerfil1{
 position:absolute;
 width:97%;
 height:95%;
 background:white;
border-radius:10px 10px 10px 10px;
}

#tabla4{
 position:relative;
 width:100%;
 height:100%;
}

#columnab1{
 text-align:center;
 width:30%;
}
#columnab2{
 text-align:center;
 width:70%;
}




#tabla5{
 position:relative;
 width:100%;
 height:100%;

}


#filab1{
 width:50%;
 height:10%;

}
#columnab3{
 text-align:center;
 width:40%;
}


#fotoM{
 height:33%;
 width:40%;
}








